html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    line-height: 21px;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.img {
    width: 100%;
    height: auto;
}

.container-body {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.intro {
    background-image: url("../img/polygon.png"), url("../img/intro.png"), url("../img/background_photo.jpg"), linear-gradient(to left top, #f49774, #81b3d2);
    background-position: 0px 449px, center 74px, 0px -83px, center center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
    position: relative;
    z-index: -1;
    margin: 0 auto;
}

.header-logo {
    display: block;
    position: relative;
    z-index: 1;
    width: 138px;
    height: 70px;
    margin: 0 auto;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-bottom: 16px;
    margin: 0 auto;
    margin-top: -55px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.active-navigation {
    color: #766357;
}

.site-navigation-item {
    width: 300px;
    padding: 0px;
}

.site-navigation-item:nth-child(4n+1) {
    padding-left: 71px;
}

.site-navigation-item:nth-child(4n+2) {
    padding-left: 13px;
}

.site-navigation-item:nth-child(4n+3),
.site-navigation-item:nth-child(4n+4) {
    text-align: right;
}

.site-navigation-item:nth-child(4n+3) {
    padding-right: 18px;
}

.site-navigation-item:nth-child(4n+4) {
    padding-right: 71px;
}

.feature {
    background-color: #ffffff;
    margin-top: -294px;
    padding-top: 60px;
}

.title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
}

.title-extra {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.title-white {
    color: #ffffff;
}

.title-main {
    line-height: 26px;
    width: 470px;
    margin-top: 1px;
}

.title-number {
    margin-top: 23px;
}

.title-realcity {
    width: 210px;
}

.title-realcity-description {
    width: 300px;
    margin: 0 auto;
    margin-top: 22px;
}

.feature-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0;
    list-style: none;
}

.feature-extra-item {
    width: 400px;
    background-repeat: no-repeat;
    background-position: 161px 60px;
    padding: 145px 0px 82px 0px;
}

.feature-big-description {
    display: flex;
    background-color: #81b3d2;
}

.feature-description {
    width: 400px;
    padding: 46px 45px 20px 44px;
    text-align: center;
    margin: 0;
}

.feature-img {
    width: 800px;
    margin: 0;
    display: flex;
    color: #ffffff;
}

.feature-description-other {
    background-color: #eeeeee;
    padding-bottom: 60px;
    padding-top: 49px;
}

.title-feature-description {
    margin: 0 auto;
    margin-top: 20px;
}

.title-house {
    width: 252px;
}

.title-food {
    width: 284px;
}

.title-souvenir {
    width: 273px;
}

.feature-extra-house {
    background-image: url("../img/icon_house.svg");
}

.feature-extra-food {
    background-image: url("../img/icon_food.svg");
}

.feature-extra-souvenir {
    background-image: url("../img/icon_suv.svg");
    background-position: 169px 54px;
}

.title-bridge {
    width: 170px;
}

.title-bridge-description {
    width: 303px;
    margin: 0 auto;
    margin-top: 22px;
}

.title-small-square {
    width: 208px;
}

.title-small-square-description {
    width: 220px;
    margin: 0 auto;
    margin-top: 20px;
}

.title-beautiful-road {
    width: 175px;
}

.title-beautiful-road-description {
    width: 262px;
    margin: 0 auto;
    margin-top: 20px;
}

.title-few-tourist {
    width: 155px;
}

.title-few-tourist-description {
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

.title-interested {
    color: #333333;
    font-size: 30px;
    line-height: 24px;
    margin-top: 45px;
}

.title-interested-extra {
    width: 464px;
    line-height: 24px;
}

.title-hotel {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 0;
    margin-top: 8px;
    padding-bottom: 15px;
    width: 116px;
}

.feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    padding-top: 40px;
    margin: 0;
}

.feature-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.search-hotel {
    text-align: center;
    font: inherit;
    background-color: #ffffff;
    padding-top: 11px;
    margin-bottom: -119px;
}

.search-hotel iframe {
    border: none;
    width: 100%;
    height: 594px;
}

.map {
    position: relative;
    overflow: hidden;
    display: flex;
}

.hotel-form {
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 568px;
    margin: 0 auto;
    padding: 0;
    padding: 55px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.hotel-form-error {
    -webkit-animation: shake;
    animation: shake;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.hotel-form-hidden {
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-51%);
        transform: translateX(-51%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-49%);
        transform: translateX(-49%);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-51%);
        transform: translateX(-51%);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-49%);
        transform: translateX(-49%);
    }
}

.form-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 30px;
    text-align: left;
}

.form-item .title-adult {
    padding-right: 40px;
}

.form-item .title-child {
    padding-right: 25px;
}

.adult-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-item label {
    margin-top: 9px;
    padding-right: 15px;
}

.form-item-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-item input {
    font: inherit;
    text-transform: uppercase;
    width: 346px;
    height: 38px;
    padding-left: 11px;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.form-item input[type="number"],
.price-input input[type="number"] {
    -moz-appearance: textfield;
}

.form-item input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.form-item input[type=text]::-ms-clear,
.form-item input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.form-item input[type="search"]::-webkit-search-decoration,
.form-item input[type="search"]::-webkit-search-cancel-button,
.form-item input[type="search"]::-webkit-search-results-button,
.form-item input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.form-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.form-item input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.form-item-line input {
    text-align: center;
    padding: 0px;
    width: 38px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
    border: none;
}

.button-large {
    font-size: 21px;
    line-height: 26px;
}

.button-small {
    font-size: 14px;
    line-height: 21px;
    padding: 5px 18px 5px 16px;
}

.button-brown {
    background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.button-blue {
    background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-search-hotel {
    display: block;
    width: 568px;
    padding: 32px 0px 28px 0px;
    margin: 0 auto;
    margin-top: 45px;
}

.button-search {
    padding: 15px;
    margin-top: 25px;
    cursor: pointer;
}

.button-calendar {
    position: absolute;
    z-index: 1;
    right: 1px;
    margin-top: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-calendar:hover path,
.button-calendar:focus path {
    fill: #000000;
}

.button-calendar:active path {
    fill: #81b3d2;
}

.button-count {
    position: relative;
    height: 38px;
    width: 38px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.button-count:hover,
.button-count:focus {
    background-color: #ebebeb;
}

.button-minus:before {
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 17px;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-plus:before {
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 17px;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.button-plus:after {
    position: absolute;
    right: 14px;
    top: 17px;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.button-minus:hover:before,
.button-minus:focus:before {
    background-color: #000000;
}

.button-plus:hover:before,
.button-plus:focus:before,
.button-plus:hover:after,
.button-plus:focus:after {
    background-color: #000000;
}

.button-minus:active:before {
    background-color: #81b3d2;
}

.button-plus:active:before,
.button-plus:active:after {
    background-color: #81b3d2;
}

.button-hotel {
    color: #000000;
    text-align: left;
}

.button-hotel:hover,
.button-hotel:focus {
    color: #81b3d2;
}

.button-hotel:active {
    color: rgba(0, 0, 0, 0.3)
}

.button-hotel-reserve {
    margin-left: 2px;
}

.search-result {
    position: relative;
    padding: 0;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.search-result ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.hotel-card {
    padding: 25px 72px 15px 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-card h3 {
    margin: 0;
    width: 100%;
}

.hotel-card-border {
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    right: 0%;
    margin-top: 125px;
}

.hotel-img {
    margin: 5px 0 0 0;
    width: 135px;
}

.hotel-card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 30px;
    flex-grow: 1;
    flex-direction: column;
}

.hotel-description {
    display: flex;
}

.hotel-card-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
    background-repeat: no-repeat;
    padding-top: 24px;
}

.star-four {
    padding-right: 0;
    margin-right: 0px;
    background-image: url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg");
    background-position: 92px, 22px, 46px, 69px;
}

.star-three {
    background-image: url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg");
    background-position: 92px, 46px, 69px;
}

.star-two {
    background-image: url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg"), url("../img/icon_star.svg");
    background-position: 92px, 69px;
}

.hotel-rating {
    width: 111px;
    color: #666666;
    background-color: #f2f2f2;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 45px;
    /* margin-bottom: 7px; */
    padding: 3px 0px 3px 0px;
}

.hotel-filter {
    background-image: url("../img/filter_background.jpg");
    background-position: center center;
    background-color: #81b3d2;
    padding: 26px 70px 18px 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.filter-cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.price-input {
    border: 2px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    font-weight: 400;
    margin-top: 9px;
    padding: 6px 32px 6px 64px;
    width: 320px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-cost-input {
    color: #ffffff;
}

.title-cost {
    margin: 0;
    margin-top: 1px;
    margin-left: 1px;
    position: relative;
}

.title-cost:after {
    content: "";
    position: absolute;
    left: 157px;
    top: 38px;
    height: 21px;
    width: 2px;
    background-color: #ffffff;
}

.price-input input {
    color: #ffffff;
    border: none;
    background-color: transparent;
    font-size: 14px;
    width: 50px;
}

.price-input input::-webkit-input-placeholder,
.price-input input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.slider {
    position: relative;
    margin-top: 20px;
}

.slider-line {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.slider-line-white {
    background: #ffffff;
    height: 2px;
    width: 80%;
}

.slider-button {
    position: absolute;
    margin-top: -12px;
    padding: 2px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px rgba(255, 255, 255, 0.2);
    left: 0%;
    cursor: pointer;
}

.slider-button-max {
    left: 79%;
}

.slider-button:hover {
    transform: scale(1.1, 1.1);
}

.filter-field {
    border: none;
    width: 253px;
}

.filter-field ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-filter {
    font-size: 16px;
    margin-left: 3px;
}

.filter-line {
    padding: 20px 0px 5px 0px;
    position: relative;
}

.checkbox-indicator {
    position: relative;
    padding-left: 44px;
    cursor: pointer;
}

.checkbox-indicator:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    padding: 3px;
    border-radius: 3px;
    left: 3px;
}

.checkbox-label input[type="checkbox"]:checked+.checkbox-indicator:before {
    width: 26px;
    position: absolute;
    border: none;
    background-image: url("../img/checkbox-checked.svg");
    background-repeat: no-repeat;
}

.checkbox-label input[type="checkbox"]:disabled+.checkbox-indicator {
    opacity: 0.2;
    cursor: not-allowed;
}

.checkbox-label input[type="checkbox"]:focus+.checkbox-indicator:before {
    outline: 2px solid #4D90FE;
}

.filter-button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 32px 8px 35px;
    font-size: 14px;
    margin-top: 32px;
    margin-right: 15px;
    cursor: pointer;
}

.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.hotel-sorting {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 32px 72px 30px 66px;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    list-style: none;
    width: 100%;
}

.title-sorting-main {
    width: 165px;
}

.title-hotel-sorting {
    font-size: 12px;
    font-weight: 400;
    margin: 2px 0px 0px 43px;
}

.title-hotel-sorting-extra {
    margin: 0;
}

.title-sorting-active {
    color: #81b3d2;
    margin-right: 33px;
    cursor: default;
}

.title-sorting-disactive {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
    margin-right: 33px;
}

.title-sorting-disactive:hover,
.title-sorting-disactive:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.title-sorting-disactive:active {
    color: #000000;
    border: none;
}

.sorting-arrow-item {
    margin-left: auto;
    padding-right: 12px;
}

.sorting-arrow-disactive:hover path,
.sorting-arrow-disactive:focus path {
    fill: #000000;
}

.sorting-arrow-disactive:active path {
    fill: #81b3d2;
}

.sorting-arrow-reverse svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sorting-arrow-active {
    cursor: default;
}

.sorting-arrow-active path {
    fill: #81b3d2;
}

.main-footer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    opacity: 0.9;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-icon {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 32px 0px 33px 0px;
    margin: 0;
    width: 400px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin: 3px;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
}

.social-button:active path {
    fill-opacity: 0.3;
}

.footer-copyright {
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
}

.button-copyright:hover path,
.button-copyright:focus path {
    fill: #81b3d2;
}

.button-copyright:active path {
    fill: #000000;
    fill-opacity: 0.3;
}

.copyright-indent {
    margin-right: 7px;
}